*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    overflow: hidden;
}
#page4{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#page4 #nav{
    position:fixed;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 50px;
    z-index: 99;
}
#page4 #nav img{
    width: 135px;
}
#page4 #nav #right{
    width: 100px;
}
#page4 #center-img{
    position: absolute;
    top: 27%;
    right: 0;
    height: 300px;
    width: 435px;
    z-index: 9;
}
#page4 #center-img h6{
    font-size: 0.85vw;
    font-weight: 400;
    transition: all ease 0.5s;
}
#page4 #center-img img{
    position: absolute;
    margin-top: 30px;
    width: 430px;
    object-fit: cover;
}
#page4 h1{
    font-size: 13vw;
    font-weight: 500;
    position: absolute;
    top: 55%;
    left: 25%;
    z-index: 99;
}
#page4 h2{
    font-size: 13vw;
    font-weight: 500;
    position: absolute;
    color: #ffffff;
    transform: rotate(20deg);
    top: 120%;
    left: 25%;
    z-index: 99;
}
#page4 #purple-circle{
    position: absolute;
    top: 120%;
    left: 50%;
    transform:translate(-50%,-50%) scale(0.2);
    height: 200px;
    width: 200px;
    background-color: rgb(16,80,153);
    border-radius: 50%;
    z-index: 9;
}
#page4 #bg-img{
    height: 105%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transform: scale(1.6);
}

#page4 #white-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    height: 55vh;
    width: 55vh;
    border-radius: 50%;
    background-color: #fff;
}
#page4 #inner{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)  rotate(180deg) ;
}
#page4 #mid{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)  rotate(180deg) scale(1.6);
}
#page4 #end{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)  rotate(180deg) scale(2.4);
}
#page4 #inner2{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)  ;
}
#page4 #mid2{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.6);
}
#page4 #end2{
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(2.4);
}
 #page4 #box{
    position: relative;
    height: 520px;
    width: 500px;
    top: 120%;
    background-color: #105099;
    transition: all ease 0.5s;
 }
 #page4 #box p{
    position: absolute;
    font-size: 0.9vw;
    color: #fff;
    margin-top: 60px;
    padding-left: 100px;
 }
 #page4 #box p:nth-child(1){
    padding-top: 100px;
    padding-left: 70px;
 }
 #page4 #box p:nth-child(2){
    padding-top: 140px;
 }
 #page4 #box p:nth-child(3){
    padding-top: 200px;
 }
 #page4 #box #btm{
    position: absolute;
    display: flex;
    top: 70%;
    left: 10%;
    color: #fff;
 }
 #page4 #box #btm h6{
    position: absolute;
    font-size: 1.7vw;
    font-weight: 400;
 }
 #page4 #box #btm h6:nth-child(2){
    padding-left: 200px;
 }
 
 #page5{
    height: 100vh;
    width: 100%;
    position: relative;
 }
 #page5 #nav{
   position:absolute;
   top: 0%;
   height: 120px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:  0 50px;
   z-index: 99;
}
#page5 #nav img{
   width: 135px;
}
#page5 #nav #right{
   width: 100px;
}

 #page5 #top{
    height: 60%;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #777;
    overflow: hidden;
 }
 #page5 #top .circle{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    top: 100%;
    transition: all ease 0.6s;
 }
 #page5 #top #circle2{
    left: 35%;
    background-color: rgb(16,80,153);
 }
 #page5 #top #circle1{
    left: 53%;
    background-color: rgb(220,240,207);
 }
 
 #page5 #top #gradient{
    position: absolute;
    height: 100%;
    width: 150%;
    top: 0%;
    opacity: 0;
    background-color:rgb(16,80,153) ;
 }
 #page5 #top #gradient h1{
    position: absolute;
    top: -103%;
    left: 60%;
    font-size: 28vw;
    font-weight: 500;
    letter-spacing: -10px;
    color: #ffffff;
    transition: all ease 1s;
 }
 #page5 #columns{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
 }
 #page5 #columns .column{
    position: absolute;
    top: 100%;
    height: 100%;
    width: 20%;
 }
 #page5 #columns .column .box1{
    position: absolute;
    bottom: 0;
    right: -50%;
    height: 150px;
    width: 150px;
 }
 #page5 #columns .column .box2{
    position: absolute;
    bottom: 0;
   /* right:49%;*/
   right: -50%;
    height: 90px;
    width: 100px;
 }
 #page5 #columns #column1{
    background-color: rgb(16, 80, 153);
    left: 0;
 }
 #page5 #columns #column1 .box1{
    background-color: rgb(50, 105, 167);
 }
 #page5 #columns #column1 .box2{
    background-color:rgb(50, 105, 167) ;
 }
 #page5 #columns #column2{
    background-color:rgb(50, 105, 167) ;
    left: 20%;
 }
 #page5 #columns #column2 .box1{
    background-color: rgb(84, 130, 182);
 }
 #page5 #columns #column2 .box2{
    background-color: rgb(84, 130, 182);
 }
 #page5 #columns #column3{
    background-color:rgb(84, 130, 182);
    right: 40%;
 }
 #page5 #columns #column3 .box1{
    background-color: rgb(118, 155, 196);
 }
 #page5 #columns #column3 .box2{
    background-color:rgb(118, 155, 196) ;
 }
 #page5 #columns #column4{
    background-color:rgb(118, 155, 196) ;
    right: 20%;
 }
 #page5 #columns #column4 .box1{
    background-color: rgb(186, 205, 225);
 }
 #page5 #columns #column4 .box2{
    background-color:rgb(186, 205, 225) ;
 }
 #page5 #columns #column5{
    background-color:rgb(186, 205, 225) ;
    right: 0;
 }
 #page5 #columns #column5 .box1{
    background-color:rgb(220, 229, 240) ;
 }
 #page5 #columns #column5 .box2{
    background-color:rgb(220, 229, 240);
 }
 #page5 #bottom{
    height: 50%;
    width: 100%;
    position: relative;
 }
 #page5 #bottom .elem h1{
    font-size: 3.4vw;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: -120%;
    left: 30%;
    line-height: 1;
 }
 #page5 #bottom .elem h2{
    position: absolute;
    top: 140%;
    left: 5%;
    font-size: 3.5vw;
    font-weight: 400;
 }
 #page5 #bottom #strip{
    height: 30px;
    width: 100%;
    border: 1px solid black;
    position: absolute;
    top: 71%;
    display: flex;
    align-items: center;
    padding-left: 120px;
    border-left: 1px solid black;
 }
 #page5 #bottom #strip .circle{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: black;
 }
 #page5 #bottom #elem2 h1{
    opacity: 0;
 }
 #page5 #bottom #elem3 h1{
    opacity: 0;
 }
 #page5 #bottom #elem2 h2{
    opacity: 0;
    top: 152%;
 }
 #page5 #bottom #elem3 h2{
    opacity: 0;
    top: 152%;
 }
 #page5 #bottom #elem2 #strip{
    left: 70%;
 }
 #page5 #bottom #elem2 #strip h6{
    opacity: 0;
 }
 #page5 #bottom #elem2 #strip .circle{
    opacity: 0;
 }
 #page5 #bottom #elem3 #strip{
    left: 70%;
 }
 #page5 #bottom #elem3 #strip h6{
    opacity: 0;
 }
 #page5 #bottom #elem3 #strip .circle{
    opacity: 0;
 }
 #page5 #bottom #elem3 h1{
    opacity: 0;
 }


 #page6{
    min-height: 200vh;
    width: 100%;
    position: relative;
    margin-top: 5%;
 }
 #page6 #nav{
   position:absolute;
   top: -4%;
   height: 120px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:  0 50px;
   z-index: 99;
}
#page6 #nav img{
   width: 135px;
}
#page6 #nav #right{
   width: 100px;
}

 #page6 #pt1{
   height: 60vh;
   width: 100%;
   margin: 0 20px;
   margin-top: 10%;
   position: relative;
   border-bottom: 2px solid #105099;
 }
 #page6 #pt1 h1{
   font-size: 12vw;
   font-weight: 500;
   line-height: 1;
   color: #105099;
   position: absolute;
   top: -110%;
 }
   
 #page6 #pt2{
   height: 150vh;
   width: 100%;
   margin: 0 20px;
   margin-top: 5%;
   position: relative;
   border-bottom: 2px solid #105099;
 }
 #page6 #pt2 #up{
   height: 20vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 #page6 #pt2 #up h2{
   font-size: 4vw;
   font-weight: 400;
   color: #105099;
   position: absolute;
   top: 40%;
   margin-left: 70px;
 }
 #page6 #pt2 #up #rows{
   margin-left: 10%;
   color: #105099;
   padding-top: 90px;
   margin-left: 320px;
 }
 #pt2 #up #rows h5{
   font-size: 0.9vw;
   font-weight: 500;
   padding-top: 20px;
 }
 #pt2 #up  h1{
   font-size: 5vw;
   font-weight: 400;
   color: #105099;
   position: absolute;
   top: -40%;
   left: 35%;
 }
 #pt2 #up .ball{
   height: 50px;
   width: 50px;
   border-radius: 50%;
   position: absolute;
   right: 10%;
 }
 #pt2 #up #outline{
  border: 2px solid #105099;
  animation: ball1 2s infinite ;
  transition: all ease 2s;
   
 }
 #pt2 #up #fill{
   background-color:#105099;
   right: 12%; 
   animation: ball2 2s infinite ;
   transition: all ease 2s;
 }
 @keyframes ball1{
    0%{
      right: 10%;
    }
    50%{
      right: 12%;
    }
    100%{
      right: 10%;
    }
 }
 @keyframes ball2{
   0%{
     right: 12%;
   }
   50%{
     right: 10%;
   }
   100%{
      right: 12%;
    }
}

 #page6 #pt2 #down{
   height: 80vh;
   width: 100%;
   display: flex;
   align-items: center;
   margin-top: 10%;
 }
 #page6 #pt2 #down #big-img{
   width: 40%;
   position: absolute;
   left: 30%;
 }

 #page6 #pt2 #top-img{
   position: absolute;
   top: 60%;
   left: 15%;
 }
 #page6 #pt2  #top-img img{
   width: 55%;
 }
 #page6 #pt2  #top-img #outline-hex{
   position: absolute;
 }
 #page6 #pt2 #top-img #fill-hex{
   scale: 0;
   z-index: -9;
   transition: all ease 0.5s;
 }
#page6 #pt2 #top-img:hover #fill-hex{
   scale: 1;
 }
#page6 #pt2 #top-img:hover h3{
   color: #DCF0CF;
 }
 #page6 #pt2  #btm-img{
   position: absolute;
   right: 5%;
   top: 25%;
 }
 #page6 #pt2 #down #btm-img img{
   width: 55%;
 }
 #page6 #pt2  #btm-img #outline-hex{
   position: absolute;
 }
 #page6 #pt2  #btm-img #fill-hex{
   scale: 0;
   z-index: -9;
   transition: all ease 0.5s;
 }
 #page6 #pt2 #btm-img:hover #fill-hex{
   scale: 1;
 }
 #page6 #pt2 #btm-img:hover h3{
   color: #FEF0C5;
 }
 #page6 #pt2 #down h3{
   font-weight: 400;
   position: absolute;
   color: #105099;
   top: 42%;
   left: 15%;
   z-index: 99;
 }

 #page6 #pt3{
   height: 150vh;
   width: 100%;
   margin: 0 20px;
   margin-top: 7%;
   position: relative;
   border-top: 2px solid #105099;
 }
 #page6 #pt3 #line{
   position: absolute;
    top: -6%;
    left: -5%;
      display: flex;
      align-items: center;
      white-space: nowrap;
      transition: all ease 0.6s;
 }
 #page6 #pt3 #line h3{
   font-size: 1.9vw;
   font-weight: 500;
   padding-left: 20px;
   color: #105099;
 }
 #page6 #pt3 #tri-img{
   height: 100%;
   width: 100%;
   position: absolute;
 }
 #page6 #pt3 #tri-img #triangle{
   width: 1600px;
   padding-top: 30px;
   position: relative;
   z-index: 9;
 }
 #page6 #pt3 #tri-img #strips{
   position: absolute;
   top: 0%;
   height: 50%;
   width: 0%;
   overflow: hidden;
}
 #page6 #pt3 #tri-img  #lines{
    width: 1620px;
  object-fit: cover;
    position: absolute;
    top: 0%;
 }
 #page6 #pt3 #text{
   line-height: 1;
   width: 100%;
 }
#page6 #pt3 #text h1{
   position: absolute;
   left: 5%;
   font-size: 6vw;
   font-weight: 500;
   color: #105099;
   margin-top: 120px;
 }
 #page6 #pt3 #text h2{
   position: absolute;
   top: 98%;
   left: 34%;
   font-size: 6vw;
   font-weight: 500;
   color: #105099;
 }
 #page6 #pt3 #text h3{
   position: absolute;
   top: 70%;
   left: 5%;
   font-size: 6vw;
   font-weight: 500;
   color: #105099;
 }
 #page6 #pt4{
   height: 150vh;
   width: 100%;
   margin: 0 20px;
   position: relative;
 }
 #page6 #pt4 #hex-img{
   position: absolute;
   top: -10%;
   left: 40%;
 }
 #page6 #pt4 #hex-img img{
   width: 55%;
 }
 #page6 #pt4 #hex-img #outline-hex{
   position: absolute;
 }
 #page6 #pt4 #hex-img #fill-hex{
   scale: 0;
   z-index: -9;
   transition: all ease 0.5s;
 }
 #page6 #pt4 #hex-img:hover #fill-hex{
   scale: 1;
 }
 #page6 #pt4 #hex-img:hover h3{
   color: #FFE9F3;
 }
 #page6 #pt4 #hex-img h3{
   font-weight: 400;
   position: absolute;
   color: #105099;
   top: 42%;
   left: 15%;
   z-index: 99;
 }
 #page6 #pt4 #three-img{
   height: 100%;
   width: 100%;
   display: flex;
 }
 #page6 #pt4 #three-img img{
   position: absolute;
 }
 #pt4 #three-img #one{
   height: 230px;
   width: 200px;
   top: 10%;
   left: 5%;
 }
 #pt4 #three-img #two{
   height: 550px;
   width: 500px;
   top: 25%;
   left: 35%;
 }
 #pt4 #three-img #three{
   height: 230px;
   width: 200px;
   top: 70%;
   left: 75%;
 }
 #pt4 #three-img #stripss{
   height: 160px;
   width: 130%;
   position: absolute;
   top: 45%;
   display: flex;
   white-space: nowrap;
   transition: all ease 0.6s;
 }
#pt4 #three-img #stripss h1{
   font-size: 12vw;
   font-weight: 500;
   color: #105099;
   position: absolute;
   top: -300%;
   left: -5%;
 }
#pt4 #three-img #stripss h1:nth-child(2){
   left: 48%;
 }
#pt4 #three-img #stripss h1:nth-child(3){
   left: 90%;
 }